# FROM VITE TEMPLATE
# ==================

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/_frontend/cypress/videos/
/_frontend/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# FROM EXPLORER
# =============

/_frontend/dist

# local env and configuration files
.env.local
.env.*.local
networks-config.json

# Editor directories and files
.vscode

# Coverage data
/_frontend/.nyc_output
/_frontend/tests/coverage

# Cypress
/_frontend/cypress
/_frontend/tests/e2e/videos
/_frontend/tests/e2e/screenshots

# Branding customization
/_frontend/src/styles
/_frontend/public

# Sourcify setup
/_frontend/sourcify-setup/data
/_frontend/sourcify-setup/nginx/certificate