name: "ZXC: Compile Explorer Code"
on:
  workflow_call:
    inputs:
      enable-unit-tests:
        description: "Unit Testing Enabled"
        type: boolean
        required: false
        default: false
      enable-e2e-tests:
        description: "E2E Testing Enabled"
        type: boolean
        required: false
        default: false
      custom-job-label:
        description: "Custom Job Label:"
        type: string
        required: false
        default: "Compiles"

    secrets:
      access-token:
        description: "The Github access token used to checkout the repository, submodules, and make GitHub API calls."
        required: true

defaults:
  run:
    shell: bash

permissions:
  pull-requests: write
  checks: write
  issues: read
  contents: read

env:
  LC_ALL: C.UTF-8

jobs:
  compile:
    name: ${{ inputs.custom-job-label || 'Compiles' }}
    runs-on: hiero-mirror-node-linux-large
    defaults:
      run:
        working-directory: ./_frontend
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: _frontend/package-lock.json

      - name: Setup Xvfb
        if: ${{ inputs.enable-e2e-tests && !cancelled() }}
        run: |
          if ! command -v xvfb-run >/dev/null 2>&1; then
            echo "::group::Updating Aptitude"
              sudo apt update
            echo "::endgroup::"
            echo "::group::Installing Xvfb"
              sudo apt install -y xvfb
            echo "::endgroup::"
          fi

      - name: Install Google Chrome
        if: ${{ inputs.enable-e2e-tests && !cancelled() }}
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          curl -LO https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt-get install -y ./google-chrome-stable_current_amd64.deb
          rm google-chrome-stable_current_amd64.deb

      - name: Install Dependencies
        run: npm ci

      - name: Compile Code
        run: npm run build

      - name: Unit Tests
        run: npm run cover:unit
        if: ${{ inputs.enable-unit-tests && !cancelled() }}

      - name: Report Unit Test Coverage
        uses: step-security/vitest-coverage-report-action@9d0fd37b856d4db3cbe992a95174e1b2a962e424 # v2.9.0
        if: ${{ inputs.enable-unit-tests && !cancelled() }}
        with:
          working-directory: ./_frontend

      - name: Cypress run
        uses: cypress-io/github-action@84d178e4bbce871e23f2ffa3085898cde0e4f0ec # v7.1.2
        if: ${{ inputs.enable-e2e-tests && !cancelled() }}
        with:
          working-directory: ./_frontend
          install-command: npm install
          browser: chrome
          start: npm run dev
          spec: tests/e2e/specs/*
